@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #11122b;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}


#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

body {
    width: 100%;
}

#navbar a img {
    width: 30%;
}

.section1 {
    padding: 40px 80px;
}

#navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}

#navbar a:hover,
#navbar a.active {
    color: #cea135;
}


#hero {
    background-image: url(img/fash01.jpg);
    height: 90vh;
    width: auto;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 15px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

h1 {
    font-size: 30px;
    line-height: 64px;
    color: #188173;
}

h2 {
    font-size: 25px;
    line-height: 54px;
    color: #1a1a1a;
}

p {
    font-size: 18px;
    color: #1a1a1a;
    margin: 15px 0 20px 0;
}

.section-m1 {
    margin: 40px 0;
}

#feature {
    background-color: #11122b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

#feature .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#feature .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#feature .pro img {
    width: 100%;
    border-radius: 20px;
}

#feature .pro h5 {
    margin-top: 15px;
    color: #fff;
    text-align: center;
}

#feature .pro h4 {
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

#sho h1 {
    text-align: center;
    color: #cea135;
    background-color: #11122b;
}



#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #11122b;
    padding: 100px 100px;
}

#about h1 {
    color: #cea135;
}

#about p {
    color: #fff;
    text-align: center;
}
/* pagination */

#pagination {
    text-align: center;
    background-color: #11122b;
}

#pagination a {
    text-decoration: none;
    background-color: #cea135;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}


/* news letter page */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #141535;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #cea135;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

/* contact.css */

#con h1 {
    text-align: center;
    color: #cea135;
}

#contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span
{
    font-size: 12px
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    font-size: 14px;
    margin: 0;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #cea135;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;   
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* footer.css */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ce3a3a;
    color: #fff;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col img {
    width: 25%;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 18px 0;
    color: #fff;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #fff;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #fff;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #cea135;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* single pro.css */

#prodetails {
    display: flex;
    margin-top: 0;
    background-color: #11122b;
    color: #fff;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
    color: #fff;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
 
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #cea135;
    color: #fff;
}#prodetails .single-pro-details span {
    line-height: 25px;
}

/* cart.css */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #cea135;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
} 

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

@media (max-width: 799px) {
    #navbar a {
        margin-left: 10px;
    }

    #newsletter .form {
        width: 80%;
    }
}

@media (max-width: 477px) {
    body {
        width: 115%;
    }

    #navbar {
        display: grid;
        text-align: center;
    }

    #navbar a img {
        width: 60%;
    }

    #hero {
        text-align: center;
    }

    #newsletter .form {
        width: 100%;
    }

    #contact-details {
        flex-direction: column;
       
    }

    #contact-details .details {
        width: 100%;
    }

    #contact-details .map {
        width: 100%;
        height: 200px;
    }

    #form-details {
        flex-direction: column;
    }

    #form-details form {
        width: 120%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-bottom: 30px;
    }

    #subtotal {
        width: 100%;
        margin-bottom: 30px;
    }

    #prodetails {
        flex-direction: column;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }
}
